<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownFall.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7544DF9893642DCDDDBA8CE20D6E098A63904695</string>
				<key>dateExpires</key>
				<string>5/19/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G6N5X5RF9Q.com.williamKatz.DroppedDown</string>
				<key>com.apple.developer.team-identifier</key>
				<string>G6N5X5RF9Q</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>G6N5X5RF9Q.com.williamKatz.DroppedDown</string>
				</array>
			</dict>
			<key>name</key>
			<string>DownFall.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f6c49b10-622c-4c49-9b01-9dc818ed3651</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.williamKatz.DroppedDown</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G6N5X5RF9Q</string>
				<key>name</key>
				<string>William Katz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
